h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  
  .cart-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 16px;
  }
  
  .cart-total {
    font-size: 1.5rem;
    margin-top: 16px;
  }
  
  .clear-cart {
    background-color: #ff5555;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
  }
  
  .checkout-link {
    display: block;
    text-align: center;
    margin-top: 16px;
    text-decoration: none;
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .checkout-link:hover {
    background-color: #45a049;
  }
  .buttonLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50; /* Color de fondo del botón */
    color: white; /* Color del texto */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    margin-bottom: 10px;
  }